<p><%= "#{t 'static_pages.admin.total_number_of_users'}" @user_count %></p>
<p><%= "#{t 'static_pages.admin.total_number_of_postings'}"  @posting_count %></p>
<p><%= "#{t 'static_pages.admin.total_number_of_live_postings'}"  @live_posting_count %></p>
<p><%= "#{t 'static_pages.admin.total_number_of_posting_user'}"  @number_of_users_posted %></p>
