<p>
  Toplam Kullanıcı Sayısı: <%= @user_count %>
</p>
<p>
  Toplam İlan Sayısı: <%= @posting_count %>
</p>
<p>
  Canlı İlan Sayısı: <%= @live_posting_count %>
</p>
<p>
  Ilan veren kullanici sayisi: <%= @number_of_users_posted %>
</p>
