.center.hero-unit  
  %h1 Koç Carpool Projesi
  %p Bu sayfaya gelerek İstanbul'daki trafik sorunundan sıkıldığını gösterdin. Şimdi üye ol, ve araba paylaşmaya başla!
  
  = link_to "Üye ol!", signup_path, class: "btn btn-large btn-primary", style: "color: white"