= provide(:title, 'Kullanım Koşulları ve Şartları')
%h1== Kullanım Koşulları ve Şartları Sözleşmesi

%div.terms_and_conditions_sections
  %p
    1. “....com”u (Site) kullanmak için gerekli koşullar bu belgede belirtilmiştir. Lütfen bu belgeyi okuyunuz. Sitenin ve Koç Üniversitesi’nin (Kurum) sunduğu hizmetlerden faydalanmak için bu belgeyi kabul etmeniz gerekmektedir. Bu koşulları kabul etmediğiniz takdirde Site’yi kullanmaktan vazgeçiniz. (Tarafların tanıtımı-Kabul edilmesi gerekçesi)
  
  %p
    2. Herhangi bir şekilde siteye erişim sağayan her gerçek ve tüzel kişi aşağıda bulunan kullanım koşullarını kabul etmiş sayılır. İşbu kullanım koşulları sitenin hizmetlerinden menfaat sağlayıp sağlamaması fark etmeden siteye erişim sağlayan bütün kişiler için geçerlidir. (Belgeyi kabul ettirme)
  
  %p
    3. Site yönetimi Site’de yer alan bilgileri, formları, içeriği, tasarımları, Site’yi ve Site’nin kullanım koşullarını herhangi bir ihbarda bulunmadan dilediği zaman değiştirebilir. Site yönetimi tarafından yapılan, bu sözleşme hükmünde bulunan tüm değişiklikleri site kullanıcıları (Üyeler) kabul etmiş sayılır. (Sitede ve kullanım koşullarında değişiklik yapabilme esnekliği)

  %p
    4. Üyelik, Site’nin kullanıcı tarafından kullanım hakkını ifade eder. Kullanım hakkına sahip kişiler “Üye” olarak anılır. Üye, site üzerinde gerçekleştirdiği tüm işlem, paylaşım ve fiillerden cezai, mali, ve hukuki açıdan sorumludur. (Üye sorumluluklarının geniş olduğunu belirtme)
  
  %p
    5. Site’nin amacı trafikteki sadece sürücülü araç sayısını en aza indirerek yollardaki trafik yoğunluğunu ve dolayısıyla yakıt tüketimi ve çevreye verdiği zararları azaltmak için insanlara alternatif bir ulaşım şekli sunmaktır. Site’nin amacı dışında kullanılması sonucunda doğabilecek cezai, mali ve hukuki yükümlülüklerden siteyi amacı dışında kullananlar sorumludur. Site yönetimi bu yükümlülükler konusunda hiçbir sorumluluk kabul etmez. (Amaç dışı kullanımda sitenin sorumluluk kabul etmediği)

  %p
    6. Site’nin kullanım amaçları arasında kesinlikle taşımacılıktan gelir elde etmek yoktur. Site’nin bu şekilde kullanılması durumunda tüm sorumluluk amacı dışında kullanan sürücüye aittir. Site’nin yegane fonksiyonu aynı yere, aynı yerden veya ortak yollardan giden kişileri buluşturan bir platform sağlamaktır. Kurum, Site ve yöneticileri bu fonksiyonun suistimal edilmesi durumlarında hukuki, mali ve cezai yükümlülüklerden sorumlu değillerdir ve bu gibi durumlarda taraf olarak kabul edilemezler. Site’yi amacına aykırı kullanan site yönetimine ihbar edilmesi veya Site tarafından tespit edilmesi durumunda sözkonusu üyelikler süresiz olarak iptal edilir. (Gelir elde etme durumunda Site ve Kurum’un sorumluluk kabul etmeyeceği)
  
  %p
    7. Üye, Site üzerinden yapacağı tüm yazışma ve işlemlerden bireysel veya tüzel kişilik olarak sorumludur. Üye, bu yazışma ve işlemlerin Site tarafından kayıt altına alınmasını kabul eder. Uyuşmazlık durumunda Site tarafından tutulan bu kayıtların geçerli, bağlayıcı, kesin ve münhasır delil olacağını, bunların usulüne uygun tutulduğunu, bunlara karşı tüm itiraz ve def’i haklarından peşinen feragat ettiğini kabul eder. (Anlaşmazlık durumunda üye aktivitesinin delil olarak kullanılması)

  %p  
    8. Site aracılığıyla biraraya gelen kişiler arasında yaşanabilecek hiçbir türlü olayda Site ve Kurum sorumluluk kabul etmez. Yine aynı yolla biraraya gelen kişilerin veya kişilerin araçlarının başına gelebilecek kaza veya benzeri istenmeyen olaylar sonucu oluşabilecek maddi ve manevi zararlardan Site yönetimi ve Kurum sorumlu değildir. (İstenmeyen durumlarda oluşabilecek zararlardan sorumlu tutulmama)
  
  %p
    9. Site’ye üye olan her kullanıcı doğru bilgiler vermeye, zaman içersinde bu bilgilerde meydana gelebilecek değişiklikleri Site’yle paylaşmayı taahhüt eder. (Bilgi güvenliği)

  %p
    10. Site yönetimi üylerce kaybedilen veya değiştirilen üyelik bilgilerinden sorumlu değildir.
  
  %p  
    11. Site, üyelerin yasal mevzuat tarafından izin verilen kişisel bilgilerini saklayabilir ve 3. Kişilerle paylaşabilir. Site, bu bilgileri paylaşırken üyelerin menfaatlerini korumaya özen göstereceğini taahüt eder. (Üye bilgilerinin sonra kullanılması)

  %p
    12. Site yönetimi üyelerin üyeliklerini haber vermeden veya gerekçe göstermeden iptal etme hakkını saklı tutar. (Üyelikler üzerinde kontrol)
  
  %p
    13. Site’de sunulan hizmetler Üyeler için ücretsizdir. Bu hizmetleri ücretli hale getirme hakkını Site yönetimi saklı tutar.
  
  %p  
    14. Üye, Site’ye ait olan herhangi bir içeriğin Site yönetimi tarafından izin alınmadan herhangi bir şekilde paylaşmayacağını, kopyalamayacağını, yayınlamayacağını, yayımlamayacağını veya satmayacağını taahüt eder. (Site materyalinin korunması: Ben şuanda ihlal ediyorum adamlarınkini çalıyorum)
  
  %p
    15. Üye, Site tarafından sunulan hizmetleri yasal mevzuata ve genel ahlaka aykırı, başkalarını rahatsız veya taciz edici bir biçimde kullanmayacağını taahüt eder. Bunun ihlali durumunda Site yönetimi, üyeliğin süresiz biçimde sonlandırılması gibi gerekli gördüğü tedbirleri alabilir. (Sapıklık yapmayın)
  
  %p
    16. Site yönetimi, teknik arızalar dahil olmak üzere, herhangi bir sebeple Site’ye erişimin kesilmesi veya aksaması durumunda yaşanacak maddi ve manevi zararlardan sorumlu tutulamaz.
  
  %p
    17. Üye, yukarıda bulunan maddelerden veya Site yönetiminin almış olduğu önlemlerden dolayı oluşabilecek herhangi bir maddi ve manevi zarardan Site’yi sorumlu tutmayacağını ve Site’den hak talebinde bulunmayacağını kabul eder. (Üyelik sonlandırılması vb. Önlemler dolayısıyla yada herhangi bir sebepten oluşacak kayıplardan site sorumlu tutulamaz)

  %p
    18. Üye, bu sözleşmeyi ihlal etmesi durumunda oluşabilecek durumlardan cezai, hukuki ve mali açıdan sorumlu olduğunu kabul eder. Site yönetiminin bu gibi hallerde oluşabilecek madi veya manevi herhangi bir zararında, üyeye bu zararı rücu hakkı saklıdır. (Site’yi zarara sokacak üye ihlallerine karşı sorumluluğun üyede olduğunu belirtmek)

  %p
    19. Site yönetimi, herhangi bir adli veya idari süreç çerçevesinde istenen üye bilgilerini hiçbir koşul önesürmeden paylaşma hakkına sahiptir. 