<%= provide(:title, 'Neden') %>
<h1 id = "why-title">Neden</h1>
<div class="row why-paragraph-1">
  <div class="span8">
    <p>Dikkat edersen yolların, içinde yalnız sürücüsü olan arabalarla dolu olduğunu farkedeceksin.</p>
    <p>Aynı yöne giden sürücüleri ve toplu taşıma kullanıcılarını buluşturarak daha verimli ve sürdürülebilir bir ulaşım alışkanlığı kazandırmayı hedefliyoruz.</p>
  </div>
</div>
<div class="row why-paragraph-2">
  <div class="span6">
    <p>Burada sadece KU’lular var! Yalnızca ku.edu.tr mail adresleriyle hesap oluşturarak bizbize bir ortam yaratıyoruz, güvenlik endişesini ortadan kaldırıyoruz.</p>
  </div>
  <div class="span2">
    <%= image_tag "komikkoc.png" %>
  </div>
</div>
<div class="row why-paragraph-3">
  <div class="span4">
    <%= image_tag "harita.png", size: "400x250" %>
  </div>
  <div class="span4">
    <p>240 KU öğrencisi kampüslere nereden ulaştıklarını söyledi. Tüm okulda, senin geldiğin yerden de gelen başkaları kesin vardır!</p>
  </div>
</div>
<div class="row why-paragraph-4">
  <div class="span6">
    <p>Yolculuk paylaşarak ulaşım masraflarından tasarruf edecek, karbon salınımını azaltıp çevreyi koruyacaksın.</p>
    <p>Bunları yaparken yeni insanlar tanıma fırsatı bulacaksın.</p>
  </div>
  <div class="span4">
    <%= image_tag "doga.png" %>
  </div>
</div>
