<h2>
  <%= = #{@user.name} Offtrafik'e Hosgeldin %>
</h2>
<p>Aşagidaki linki tıklayarak uyeliğini aktive et ve hemen yolculuk paylaşmaya başla.</p>
<p>
  <%= link_to "Uyeliği aktive et", "https://www.offtrafik.com/users/#{@user.id}/activation?a=#{@user.activation_guid}" %>
</p>
