%h2== #{@user.name} Offtrafik'e Hosgeldin

%p Asagidaki linki tiklayarak uyeligini aktive et ve hemen yolculuk paylasmaya basla.

%p= link_to "Uyeligi aktive et", "https://www.offtrafik.com/users/#{@user.id}/activation?a=#{@user.activation_guid}"