<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @user.name %>,</p>

<p>Bize katıldığın için mutluyuz!</p>

<p>
Offtrafik'te yapacagin yolculuklar icin ilan verebilir, baskalarinin verdigi ilanalar cevap verip onlarla yolculuklarini paylasabilirsin. Yolculukarini sosyal medyada paylasabilir, insanlarla yaptigin yolculuklar sonunda onlara puan verebilirsin.
</p>

<p>
Offtrafik olarak bilinçli tercihler yapan bir topluluk yaratmaya çalışıyoruz ve seni aramızda görmek bize 
güç veriyor. Yola çıkarken sizlerin varlığından haberdardık; sadece bir araya gelmemiz gerekiyordu. Daha 
bilinçli tercihler yapan insanlar olarak güzel şeyler yapacağımız günler var önümüzde.
</p>

<p>Aramıza hoş geldin!</p>

<p>Offtrafik</p>

<p><%= image_path "offtrafik-no-background-logo.png", width: "150px" %></p>