<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @user.name %>,</p>

<p>Aramıza hoş geldin!</p>

<p>
Offtrafik'te yapacağın yolculuklar için ilan verebilir, başkalarının verdiği ilanlara cevap verip onlarla yolculuklarını paylaşabilirsin. Yolculuklarını sosyal medyada paylaşabilir, insanlarla yaptığın yolculuklar sonunda onları puanlayabilirsin ve yorumlarını gelecekteki yolculara iletebilirsin.
</p>

<p>
Offtrafik olarak bilinçli tercihler yapan bir topluluk yaratmaya çalışıyoruz ve seni aramızda görmek bize 
güç veriyor. Yola çıkarken sizlerin varlığından haberdardık; sadece bir araya gelmemiz gerekiyordu. Daha 
bilinçli tercihler yapan insanlar olarak güzel şeyler yapacağımız günler var önümüzde.
</p>

<p>Bize katıldığın için mutluyuz!</p>

<p>Offtrafik</p>

<p><%= image_tag "offtrafik-no-background-logo.png", width: "150px" %></p>