<li>
  <div class="row span4" id="comment">
    <div class="span1" id="comment-user-photo"><%= link_to (image_tag comment.user.avatar.url(:square)), comment.user %></div>
    <div class="span3" id="comment-details">
      <p><%= link_to comment.user.name, comment.user %> <span class="pull-right"><%= comment.rating %></span></p>
      <p><%= truncate comment.text, length: 50 %></p>
    </div>
  </div>
</li>