<div class="row">
  <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
  <section class="span8">
    <h3><%= "#{t 'comments.new.new_comment'}"%></h3>
    <%= render 'form', comment: @comment, is_about: @is_about %>
  </section>
</div>
