@mixin background-box
{
  background: rgba(252, 252, 255, 0.6);
	border-color: rgba(252, 252, 255, 0.6);
	border-radius:15px;
}

.comment 
{
	@include background-box;	
	padding:5px;
	.comment-user-photo 
	{
		img 
		{
			border-radius: 50%;
			padding-right: 5px;
		}
	}
	
	.comment-details {
		margin: 0px;
	}
}

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
  }
}

select#comment_rating {
	width: 60px;
}

#full-comment {
	@include background-box;
	margin-top: 15px;
	
	.span1, .span3 {
		margin-top: 5px;
	}
}

#new-comment-form {
	width: 400px;
	#comment-trip-rating-containter {
		margin-left: 35px;
	}
}