@import "bootstrap";

$background_color:darken(#F8f8f8, 8%);

@font-face
{
	font-family:'Quando';
	src: url(http://fonts.googleapis.com/css?family=Quando&subset=latin-ext,latin);
	font-style:normal;
	font-weight:normal;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #eaeaea;

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin background-box
{
  background: rgba(252, 252, 255, 0.6);
	border-color: rgba(252, 252, 255, 0.6);
	border-radius:15px;
}

/*MAIN ELEMENTS*/
html 
{
	font-family:'Quando';
	overflow-y: scroll;
	min-width:700;
	overflow-x:none !important;
}

body
{
	background-color: $background_color;

	background-size:cover;
	height:100%;
	width:100%;
 	padding-top: 42px;
  	display: block;
}

.container {
	padding-bottom: 20px;
}

#wrapper 
{	
	min-height:100%;
	width:100%;
	position:relative;
	
}

#second-wrapper 
{	
	width:100%;
	padding-top:20px;
	/*padding-bottom:60px; /* Height of the footer element */
  	background-size: cover;
}

#content
{
	min-height:940px;
	height:auto;
}

//.float-wrapper
//{
//	overflow-x:scroll;
//}
//
//.float-fixer
//{
//	width:1440px;
//	overflow:auto;
//}

/*-----!!!----*/


/* universal */

.alert {
	margin-bottom: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container
{
	.row
	{
		margin-top:10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  a{
    color: black;
    &:hover{
      color: green;
      background: white;
    }
  }
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type="text"], input[type="password"], input[type="email"]
{
	height: 30px;
}

.form-horizontal select, .form-search select{
	height: 40px;
}

#error_explanation{
  color: #f00;
  ul{
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors{
  @extend .control-group;
  @extend .error;
}

input[type="radio"], input[type="checkbox"]
{
 clear: left;
 float: left;
 margin-right: 10px;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last_child{
      border-bottom: 1px solid $grayLight;
    }
  }
}

/* Buttons */
#signup-button {
	background: green;
	&:hover {
		background-color: green;
	}
	&:visited {
		color: white;
	}
}

.side-button-search {
  background: green;
  color: white;
  width: 40%;
	&:hover {
		background-color: green;
	}
}

.side-button-list {
  background: orange;
  color: white;
  width: 40%;.
  margin-top: 5px;
	&:hover 
	{
		background-color: orange;
	}
}

.btn.btn-primary.btn-small.nav-button{
  width: 56px;
  height: 26px;
}

.btn.btn-primary.btn-small.nav-button-right{
  width: 56px;
  height: 26px;
  float: right;
}

.green-button {
	background: green;
	color: white;
	&:hover {
		background-color: green;
	}
	&:visited {
		color: white;
	}
}

/* Links */

/* Miscellaneous */

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* New Registration */
#user-registration-form #user-new-session-form {
	label.checkbox {
		display: block;
	}
}

/*New Sessions - new.html.erb*/

#login-page-content
{
	padding-top:10px;
		
	h2
	{
		color:black;
		margin-bottom:10px;
	}
	.span6
	{
	   margin-left: auto;
	   margin-right: auto;
		float:none;
	}
	
	.form-actions
	{
		background-color:transparent;
		border-style:none;	
	}
}

/*Why.html.erb*/

#why-title
{
	margin-top:30px;
}

@for $i from 1 through 4
{
	.why-paragraph-#{$i}
	{
		@if $i%2==0
		{
			padding-left:36%;
		}@else{
			
			padding-left:3%;
		}
		
		margin-left:7%;
	}
}

/*About.html/erb*/

.about-row
{
	padding-left:25%;
}

/*Contact.html.erb*/
#contact-us
{
	text-align:center;
}

/*Links*/

#check-links
{
	text-align: left;
	padding-left:35px;
}


