//HEADER FILE CSS

header
{
	position:fixed;
	width:auto;
	height: 60px;
	
	#header-content
	{
		background-image:url('../header-background.png');
		border-style:solid;
		border-weight:2px;	
		position:fixed;
		width:100%;
		height: 65px;
		
		.container
		{		
			width:auto;	
			margin-left:100px;
			margin-right:100px;
		}
	}
}



/* Navbar */
.nav.pull-right
{
	height: 40px;
	font-family:'Quando';
	font-size:1.423em;
	letter-spacing:1px;
		
	li
	{		
		a
		{
			color:white;
			
			&:hover
			{
				color:#999999;
			}
		}
	}
	
	.dropdown-menu
	{
		li
		{
			a
			{
				color:#536878;
		
				&:hover
				{
					color:white;
				}
			}
		}
	}
}

.user-search
{
    margin-top: 4px;
}

#user-search-button
{
    margin-top: 0px;
    height: 30px;
}

li.nav-user-search
{
    height: 40px;
}

#logo
{
	margin-top:3px;
	height: 62px;
	position: fixed;
}


#header-notifications 
{
	#notification-box 
	{
		font-family:'Quando';
		font-size:0.65em;
		width:5px;
		height:5px;
		padding:7px 7px 7px 7px;
		border-radius:50%;
		border: 1px solid white;
		box-shadow: 1px 1px 5px rgba(0,0,0,.75);
		box-shadow: 1px 1px 5px rgba(0,0,0,.75);
		display: block;
		background: #C91F0D;
		color: white;
		line-height: 62%;
		margin-top: 6px;
	}
	
	.clickable
	{
		padding-left:4px;
	}
	
	li 
	{
		.notification-element 
		{
			margin-right: 5px;			
		}
		
		&:hover
		{
			background-color:rgba(11,99,157,0.5);
			color:black;
			cursor: pointer;
		}
	}
}

#header-login {
	margin-top: 18px;
	input {
		margin-top: 0px;
		&[type="submit"] {
			width: 50px;
		}
	}
}


#header-sign-up-button {
	width: 66px;
	height: 20px;
	margin-top: 18px;
	padding: 4px 12px 4px 12px;
	margin-left: 5px;
	color: white;
	background: #D35400;
}