/* Styles for New Post* postings/new.html.ern */

@mixin background-box
{
  background: rgba(252, 252, 255, 0.6);
	border-color: rgba(252, 252, 255, 0.6);
	border-radius:15px;
}

h3.center
{
	font-size:3em;
	font-family:'Quando';
	margin-top: 40px;
}

#posting
{
	padding-top:5px;
}

#map-container
{
	width:48%;
	height:auto;
	float:right;
	margin-right:4.6%;
}

.posting-button 
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;

	&:visited 
	{
		color: white;
	}
}

#posting-selection
{
	@include background-box;
	float:left;
	width:36%;
	margin-left:40px;
	padding:5px;
}

#standard-posting
{
	text-align:center;
	margin:10px 0 10px 0;
}

.frequent_posting_from_address
{
	padding:0 !important;	
	margin-left:20px !important;
}

.frequent_posting_to_address
{
	padding:0 !important;
	margin-left:30px !important;
}

.posting_from_address 
{
	padding:0 !important;
	margin-left:20px !important;
}

.posting_to_address 
{
	padding:0 !important;
	margin-left:30px !important;
}


.control-group 
{
	margin:0;
	padding: 0 50px 0 35px;
	
	&
	
	&.optional.posting_comments
	{	
		padding-left: 0px;
		padding-right: 20px;
		
		text-align:left;
		
	}
}

#frequent-posting
{
	text-align:center;
	margin:10px 0 10px 0;
	
}

.control-label
{
	display:inline;
}

.checkbox
{
	display:inline;
}

.posting-submit
{
	margin:0;
}

.place-input 
{
	margin-bottom: 0px;
	display:block;

	.posting_from_address 
	{
		margin-left: 5px;
	}
	.control-group 
	{
		float: left;
		padding-right: 20px;
		margin-top:20px;
	}
	
	.controls 
	{
		margin-left: 0px;
		width: 200px;
	}
	
	.address-input 
	{
	  background-color: #fff;
	  padding: 0px 11px 0 13px;
	  width: 200px;
	  font-family: Roboto;
	  font-size: 15px;
	  font-weight: 300;
	  text-overflow: ellipsis;
	}
}

#frequency-days 
{
	width:98%;
	height: auto;
	display:inline-block;
	text-align:center;
	
	.control-group 
	{
		margin-left: 12px;
		float: left;
		padding: 0px;
		margin-right: 5px;
		width: 50px;
	}
	
	.controls
	{
		margin-left: 20px;
	}
	
	input[type=checkbox] 
	{
	    visibility: hidden;
/*	    margin-left: 15px;*/
	    float: left;
	    width: 70px;
			height: 40px;
	}
	
	input[type=checkbox]:before 
	{
	    display: inline-block;
	    width: 50px;
	    height: 25px;
	    background: #E74C3C;
	    visibility: visible;
	    color: white;
	    content: attr(data-title);
	    text-align: center;
		 font-size: medium;
		 border-radius: 10px;
		 padding-top:7px;
	}
	
	input[type=checkbox]:checked:before 
	{
	    background: #27AE60;
	}
}


/*Day Selection Check Box*/
