/* sidebar */

aside.span4
{
   background: rgba(252, 252, 255, 0.6);
	border-color: rgba(252, 252, 255, 0.6);
	border-radius:15px;

	width:20%;
	float:left;
	border-style:solid;
	
		
	float:left;
	margin-top:25px;
	margin-left:80px;
	margin-right:10px;
	padding: 10px;
	
  section
  {
    padding: 10px 0;
    border-top: 1px solid gray;
    
	 &:first-child
	 {
      border: 0;
      padding-top: 0;
    }
    
	 span
	 {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    
	 h1
	 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }

  textarea
  {
    height: 100px;
    margin-bottom: 5px;
  }
}


#user_info 
{
	text-align:center;
	/*Igal Button Customization*/
	.i-button
	{
		font-size:13px;
		text-align:center;
		width: 43%;
		height: 20px;
		border-radius:10px;
		padding-top:4px;
	}
	
	.side-button-p 
	{
		margin:0 auto 5px auto;
	}
	
	a 
	{
		&:visited 
		{
			color: white;
		}
	}
}

#notifications {
	
	#waiting-past-responses {
		background: #E74C3C;
		a {
			color: white;
			&:visited {
				color: white;
			}
		}
	}
	
	div {
		&:hover {
			background-color:rgba(11,99,157,0.5);
			color:black;
			cursor: pointer;
		}
	}
	
	.green {
		color: #27AE60;
	}
	
	.blue {
		color: #2980B9;
	}
	
	.red {
		color: #C0392B;
	}
	
	.orange {
		color: #D35400;
	}
	
	.midnight {
		color: #2C3E50;
	}
	
	.fa {
		margin-right: 10px;
	}
	
	.fa-user {
		font-size: 1.45em;
	}
}