/*Style for show.html.erb*/

@mixin background-box
{
  background: rgba(252, 252, 255, 0.6);
	border-color: rgba(252, 252, 255, 0.6);
	border-radius:15px;
}


.details-of-agreed-journey {
	@include background-box;
	
	.green {
		color: #27AE60;
	}
	
	.red {
		color: #C0392B;
	}
	
	.midnight {
		color: #2C3E50;
	}
}

/* comments */


.content {
  display: block;
}
.timestamp {
  color: gray;
}

#profile-photo {
	img {
		height: 100px;
		width: 100px;
	}

}