%h3 Yorumlar
- if user != current_user
  = link_to "Yorum Yaz", new_comment_path(is_about: user.id), class: "btn btn-small", id: "write_comment"
= will_paginate comments
%ol.comments
  = render comments