%h3 Güncel Ilanlar

= will_paginate @live_postings, param_name: "live_postings_page"

= render 'shared/posting_table', posting_list: @live_postings

%h3 Geçmiş Ilanlar
- if @past_postings
  = will_paginate @past_postings, param_name: "past_postings_page"
  = render 'shared/posting_table', posting_list: @past_postings
