<%= provide(:title, 'All Users') %>
<h1>All Users</h1>
<%= will_paginate  %> <!-- paginate looks for an ActiveRecord:Relation not an array so @users from Users#index won't work -->
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
