<p>
  <%= "#{t 'users.not_activated.user_warning'}" %>
</p>
<p>
  <%= link_to "# {t 'users.not_activated.activation_mail_link'}", user_resend_activation_path(@user), class: "btn btn-primary btn-large" %>
</p>
