%p== Uyeliginiz su anda aktif degil. Eger aktivasyon maili gelmemisse, veya aktivasyon mailini yeniden istiyorsaniz lutfen asagidaki buton tiklayin.

%p= link_to "Aktivasyon Mailini Tekrar Gonder", user_resend_activation_path(@user), class: "btn btn-primary btn-large"