<p>
  <%= "#{t 'users_not_activated_user_warning'}" %>
</p>
<p>
  <%= link_to "# {t 'users_not_activated_activation_mail_link'}", user_resend_activation_path(@user), class: "btn btn-primary btn-large" %>
</p>
