<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <section class="span8">
    <h3>Geçmiş İlanlar</h3>
    <% if @past_postings %>
      <%= will_paginate @past_postings, param_name: "past_postings_page" %>
      <%= render 'shared/posting_table', posting_list: @past_postings %>
    <% end %>
  </section>
</div>
