<div class="row">
  <%= render partial: "shared/sidebar" %>
  <section class="span12 postings-list">
    <h3>Geçmiş İlanlar</h3>
    <% if @past_postings %>
      <%= render 'shared/posting_table', posting_list: @past_postings, param_name: "page" %>
    <% else %>
      <h5>Yolculuk bulunmamaktadir.</h5>
      <a class="btn btn-primary btn-large" href="<%= new_posting_path %>" style="color:white">
        <i class="icon-edit icon-white"></i>
        İlan Oluştur
      </a>
    <% end %>
  </section>
</div>
