<div class="row">
  <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
  <section class="span12 postings-list">
    <h3><%= "#{t 'users.postings.my_postings'}" %></h3>
    <div id="user-postings">
      <%= render 'shared/posting_table', posting_list: @live_postings, param_name: "page" %>
    </div>
    <p><%= link_to "#{t 'users.postings.past_postings'}" %>, user_past_postings_path(current_user), class: "btn btn-primary", id: "past-postings-button" %></p>
  </section>
</div>
