<div class="modal-header">
  <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
  <h3 id="claim-event-modal-label">Iletişime Geç</h3>
</div>
<div class="modal-body">
  <%= simple_form_for :contact_posting_owner, url: posting_respond_path(params[:posting_id])  do |f| %>
    <%= f.input :content, label: false, as: :text, placeholder: "Mailinize ekstra bir not eklemek isterseniz (örnek: telefon numaraniz) lütfen buraya yazın. İletişim emailinde yazan standart yazılar yine de gönderilecektir.", input_html: { cols: 150, rows: 5, style: "resize: none" } %>
    <%= f.button :submit, "Yolla", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="modal-footer">
  <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
</div>