<div id="posting-find">
  <div id="filter-postings">
    <%= render 'filter_postings', posting: posting, driving_options: driving_options %>
  </div>
  <% if postings.present? %>
    <div id="show-results">
      <%= render 'shared/posting_table', posting_list: postings, param_name: "page" %>
    </div>
  <% end %>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag "postings.js" %>
<% end %>