.row
  .span3
    = f.label :from_address, "Nereden"
    = f.text_field :from_address, class: "span3 search-query", type: "search"
  .span3.offset1
    = f.label :to_address, "Nereye"
    = f.text_field :to_address, class: "span3 search-query", type: "search"