.row
  .span4
    = f.label :smoking, "Sigara"
    = f.select :smoking, ["Evet", "Hayır"].map { |option| [option] }
.row
  .span4
    = f.label :comments, "Ekstra Bilgiler"
    = f.text_area :comments, cols: 30, rows: 10, resizable: false
