.row
  .span3
    = f.label :from_address, "Nereden (Semt, Şehir)", style: "width: 220px"
    = f.text_field :from_address, class: "span3 search-query", type: "search"
  .span2.offset1
    = f.label :to_address, "Nereye (Semt, Şehir)", style: "width: 220px"
    = f.text_field :to_address, class: "span3 search-query", type: "search"