<%= provide(:title, 'Ilan Ara') %>
<div class="row">
  <% if signed_in? %>
    <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
    <section class="span8">
      <%= render 'find_postings' %>
    </section>
  <% else %>
    <section class="span12 offset4">
      <%= render 'find_postings' %>
    </section>
  <% end %>
</div>