<%= provide(:title, "#{t 'postings.find.search_postings'}") %>
<div class="row" id = "content">
  <% if signed_in? %>
    <aside>
      <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
    </aside>
    <section class="span12" id="main-content">
      <%= render 'find_postings', posting: @posting, driving_options: @driving_options, postings: @postings %>
    </section>
  <% else %>
    <section class="span12 offset4">
      <%= render 'find_postings', posting: @posting, driving_options: @driving_options, postings: @postings  %>
    </section>
  <% end %>
</div>
