<%= provide(:title, 'Ilan Ara') %>
<div class="row">
  <% if signed_in? %>
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <section class="span8" id = "main-content">
      <%= render 'find_postings' %>
    </section>
  <% else %>
    <section class="span8 offset2">
      <%= render 'find_postings' %>
    </section>
  <% end %>
</div>
