<%= provide(:title, 'Ilan Ara') %>
<div class="row">
  <% if signed_in? %>
    <%= render partial: "shared/sidebar" %>
    <section class="span8">
      <%= render 'find_postings' %>
    </section>
  <% else %>
    <section class="span8 offset2">
      <%= render 'find_postings' %>
    </section>
  <% end %>
</div>