<div class="row">
  <section id="posting-show">
    <% cache [@posting, "preview", @posting.user] do %>
      <div class="span12">
        <div id="show-map" style="margin-top:20px"></div>
      </div>
      <div class="span7 row" id="posting-details" onload="calcRouteForShow()">
        <%= render 'posting_details_card', posting: @posting %>
      </div>
    <% end %>
  </section>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag "maps_for_show.js" %>
<% end %>
