<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
       <%= "#{t 'shared.error_message.contains_error'}" pluralize(object.errors.count, "error") %>
    </div>
    <ul>
      <% object.errors.each do |field, msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>