<ol class="postings">
  <% posting_list.each do |posting| %>
  <li class="posting clickable" href="<%= posting_path(posting) %>">
    <%= render :partial => 'postings/posting', locals: { posting: posting }  %>
  </li>
  <% end %>
</ol>

<% content_for :javascripts do %>
  <%= javascript_include_tag "endless_scroll.js" %>
<% end %>