<ol class="postings">
  <% posting_list.each do |posting| %>
  <li class="posting">
    <%= render :partial => 'postings/posting', locals: { posting: posting }  %>
  </li>
  <% end %>
</ol>
	<%= will_paginate posting_list %>
