%a{ href: user_path(current_user) }
  = gravatar_for current_user, size: 52
%h1
  = link_to current_user.name, user_path(current_user)
%section#user_info
  %p Yolculuk Puanı: #{current_user.calculate_rating != 0 ? "#{current_user.trip_rating}/5" : "N/A"} 
  %p.side-button-p
    %a{ class: "btn btn-primary btn-mini", style: "color:white; width: 40%", href: new_posting_path }
      %i.icon-edit.icon-white
      Yeni Ilan
  %p.side-button-p
    %a{ class: "btn btn-primary btn-mini side-button-search", href: find_posting_path }
      %i.icon-search.icon-white
      Ilan Ara
  %p.side-button-p
    %a{ class: "btn btn-primary btn-mini side-button-list", href: user_postings_path(current_user) }
      %i.icon-list.icon-white
      Ilanlarim