%a{ href: user_path(current_user) }
  = gravatar_for current_user, size: 52
%h1
  = link_to current_user.name, user_path(current_user)
%section
  %p Yolculuk Puanı: #{current_user.calculate_rating != 0 ? "#{current_user.trip_rating}/5" : "N/A"} 
  %a{ class: "btn btn-primary btn-mini", style: "color:white; width: 40%", href: new_posting_path }
    %i.icon-edit.icon-white
    Yeni Ilan
  <br />
  %a{ class: "btn btn-primary btn-mini side-button", href: find_posting_path }
    %i.icon-search.icon-white
    Ilan Ara