<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @responder.name %></p>

<p><%= link_to "#{@to_from}", posting_url(@posting) %> yolculuğuna yaptığın başvuru için olumlu yanıt alamadık.</p>

<p>Yolculuğuna uygun diğer ilanlarla iletişime geçmek için <%= link_to "buraya", find_posting_url(to_address: Posting.format(@posting.to_address)) %> linkine tıklayabilirsin.</p>

<p>Offtrafik</p>

<p><%= image_tag "offtrafik-no-background-logo.png", width: "150px" %></p>