<meta content="text/html" http-equiv="Content-Type"/>
<p><%= "#{t 'posting_response_mailer_rejected_to_responder_dear '}" @responder.name %></p>

<p><%= link_to "#{@to_from}", posting_url(@posting) "#{t 'posting_response_mailer_rejected_to_responder_negative_message'}"%></p>

<p><%="#{t 'posting_response_mailer_rejected_to_responder_other_link_text'}" link_to "#{t 'posting_response_mailer_rejected_to_responder_click_here'}", find_posting_url(to_address: Posting.format(@posting.to_address)) %></p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>