/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require font-awesome
 *= require alertify.core.css
 *= require alertify.bootstrap.css
 *= require chosen
 *= require_tree .
 */
html 
{
	font-family:'Quando';
	overflow-y: scroll;
	overflow-x:scroll;
	min-width:700;
}

body
{
	background: url("base-background-2.png") repeat-y center center;
	background-size:cover;
	height:100%;
	width:100%;
 	padding-top: 42px;

  	display: block;
}

#wrapper 
{
	min-height:100%;
	width:100%;
	position:relative;
	padding-bottom:20px; /* Height of the footer element */
	
}

#second-wrapper 
{
	padding-top:20px;
	padding-bottom:60px; /* Height of the footer element */
  	background-size: cover;
}

.float-wrapper
{
	overflow-x:scroll;
}

.float-fixer
{
	width:1600px;
	overflow:auto;
}




