@import "bootstrap";

$pink1: #6699CC;
$pink1_: saturate(lighten($pink1, 4%), 4%);
$pink1__: saturate(darken($pink1, 4%), 4%);
$pink2: #0B639D;
$pink2_: saturate(lighten($pink2, 4%), 4%);
$pink2__: saturate(darken($pink2, 4%), 4%);

@font-face
{
	font-family:'Quando';
	src: url(http://fonts.googleapis.com/css?family=Quando&subset=latin-ext,latin);
	font-style:normal;
	font-weight:normal;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #eaeaea;

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin background-box
{
  background: rgba(252, 252, 255, 0.6);
	border-color: rgba(252, 252, 255, 0.6);
	border-radius:15px;
}
/*Sudo class for the background container*/

.boxed {
	@include background-box;
}

.button {
  display: inline-block;
  position: relative;
  background: red;
  border-radius: 30px;
  width: auto;
  margin: 10px 10px;
  margin-top: 50px;
  box-shadow: 0 0 0 5px rgba(black, .05);
  height: 60px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$pink1), color-stop(50%,$pink1), color-stop(50%,$pink2), color-stop(100%,$pink2));
  
  &:before {
    content: "";
    position: absolute;
    border-radius: 20px;
    height: 40px;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$pink2), color-stop(50%,$pink2), color-stop(50%,$pink1), color-stop(100%,$pink1));
  }
  a {
    display: block;
    position: relative;
    height: 100%;
    line-height: 60px;
    border-radius: 30px;
    padding: 0 40px;
    font-family: "Futura-Bold", "Futura LT Book", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }
  & > span {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(50%,#ececec), color-stop(50%,white), color-stop(100%,white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.button_iconed {
  @extend .button;
  a > span {
    padding-left: 40px;
  }
  i {
    position: absolute;
    font-style: normal;
    font-size: 28px;
    // font family would be your icon font
    left: -1px;
    padding-left: 25px;
    padding-right: 15px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, white), color-stop(50%, #ddd), color-stop(100%, #ddd));
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 10px;
      top: 10px;
      height: 40px;
      width: 100%;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(50%, #ddd), color-stop(50%, white), color-stop(100%, white));
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    span {
      position: relative;
      color: $pink2;
    }
  }
}

.button_iconed_smooth {
  @extend .button_iconed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$pink1), color-stop(100%,$pink2));
  
  &:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$pink2), color-stop(100%,$pink1));
  }
  a > span {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,white));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  i {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ddd));
    &:before {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, white));
    }
  }
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  a{
    color: black;
    &:hover{
      color: green;
      background: white;
    }
  }
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type="text"], input[type="password"], input[type="email"]
{
	height: 30px;
}

.form-horizontal select, .form-search select{
	height: 40px;
}

#error_explanation{
  color: #f00;
  ul{
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors{
  @extend .control-group;
  @extend .error;
}

input[type="radio"], input[type="checkbox"]
{
 clear: left;
 float: left;
 margin-right: 10px;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last_child{
      border-bottom: 1px solid $grayLight;
    }
  }
}

/* Buttons */

#signup-button {
	background: green;
	&:hover {
		background-color: green;
	}
	&:visited {
		color: white;
	}
}

.side-button-p {
	margin-bottom: 2px;
}

.side-button-search {
  background: green;
  color: white;
  width: 40%;
	&:hover {
		background-color: green;
	}
}

.side-button-list {
  background: orange;
  color: white;
  width: 40%;.
  margin-top: 5px;
	&:hover {
		background-color: orange;
	}
}

.btn.btn-primary.btn-small.nav-button{
  width: 56px;
  height: 26px;
}

.btn.btn-primary.btn-small.nav-button-right{
  width: 56px;
  height: 26px;
  float: right;
}

.green-button {
	background: green;
	color: white;
	&:hover {
		background-color: green;
	}
	&:visited {
		color: white;
	}
}

/* Links */

#user_info {
	a {
		&:visited {
			color: white;
		}
	}
}
/* Miscellaneous */

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
