@import "bootstrap";

$pink1: #6699CC;
$pink1_: saturate(lighten($pink1, 4%), 4%);
$pink1__: saturate(darken($pink1, 4%), 4%);
$pink2: #0B639D;
$pink2_: saturate(lighten($pink2, 4%), 4%);
$pink2__: saturate(darken($pink2, 4%), 4%);

@font-face
{
	font-family:'Quando';
	src: url(http://fonts.googleapis.com/css?family=Quando&subset=latin-ext,latin);
	font-style:normal;
	font-weight:normal;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #eaeaea;

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin background-box
{
  background: rgba(252, 252, 255, 0.6);
	border-color: rgba(252, 252, 255, 0.6);
	border-radius:15px;
}
/*Sudo class for the background container*/

/* universal */

.alert {
	margin-bottom: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  a{
    color: black;
    &:hover{
      color: green;
      background: white;
    }
  }
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type="text"], input[type="password"], input[type="email"]
{
	height: 30px;
}

.form-horizontal select, .form-search select{
	height: 40px;
}

#error_explanation{
  color: #f00;
  ul{
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors{
  @extend .control-group;
  @extend .error;
}

input[type="radio"], input[type="checkbox"]
{
 clear: left;
 float: left;
 margin-right: 10px;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last_child{
      border-bottom: 1px solid $grayLight;
    }
  }
}

/* Buttons */
#signup-button {
	background: green;
	&:hover {
		background-color: green;
	}
	&:visited {
		color: white;
	}
}

.side-button-p 
{
	margin-bottom: 2px;
}

.side-button-search {
  background: green;
  color: white;
  width: 40%;
	&:hover {
		background-color: green;
	}
}

.side-button-list {
  background: orange;
  color: white;
  width: 40%;.
  margin-top: 5px;
	&:hover {
		background-color: orange;
	}
}

.btn.btn-primary.btn-small.nav-button{
  width: 56px;
  height: 26px;
}

.btn.btn-primary.btn-small.nav-button-right{
  width: 56px;
  height: 26px;
  float: right;
}

.green-button {
	background: green;
	color: white;
	&:hover {
		background-color: green;
	}
	&:visited {
		color: white;
	}
}

/*Igal Button Customization*/
.i-button
{
	width: 60%;
	height: 30px;
	bottom-margin: 15px;
	border-radius:10px;
}

/* Links */

#user_info {
	a {
		&:visited {
			color: white;
		}
	}
}
/* Miscellaneous */

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*New Sessions - new.html.erb*/

