/*FOOTER*/

$grayMediumLight: #eaeaea;

footer 
{
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid $grayMediumLight;
  background: linear-gradient(0deg, gray, white);

  border-style:none;
  border-bottom-style:outset;
  border-width: 3px;

  /*Keep it at the bottom*/
  position:absolute;
  bottom:0;
  width: auto;
  height:20px;
  
  .span5
  {
	  /*float: right;*/

    .links
    {
      margin-right: 25px;
    }
	  
  }
  
  nav
  {
     
  }

  a 
  {
    color: white;
  }
  small{
    float: left;
  }
  ul{
    float: right;
    list-style: none;
    li
	 {
      float: left;
      margin-left: 15px;
    }
  }  
}

/* clearfix */
  
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
