//HEADER FILE CSS

%header-font-styles
{

	
	&:visited
	{
		color: red;
	}
}

/* Navbar */
.nav.pull-right
{
    height: 40px;
}

.user-search
{
    margin-top: 4px;
}

#user-search-button
{
    margin-top: 0px;
    height: 30px;
}

li.nav-user-search
{
    height: 40px;
}

#logo
{
	height: 60px;
	position: fixed;
}

.header-tab, .navbar-tab
{
	margin: auto;
	
	font-weight: 400;
	font-size: 14pt;

	color:red;
	
	//border-style: solid;
	//border-color: blue;
}

#header
{	
	background: linear-gradient(180deg,#138808, #1E4D2B);
	height: 60px;
	padding-top: 5px;
	
	border-style:none;
	border-bottom-style:outset;
	border-color:black;
	border-width: 3px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	
	.container
	{
		//border-style:solid;
		//border-color:red;
			
		width:auto;	
		margin-left:100px;
		margin-right:100px;
	}
}

