#logo
{
	height: 60px;

	position: fixed;
}

header
{
	//z-index: -1 !important;
}

#header
{
	background: linear-gradient(0deg, #008000, #568203);
	height: 60px;
	padding-top: 5px;
	font-weight: 600;
	font-size: 24pt;
	.header-tab
	{
		color: white;
		&:visited
		{
			color: white;
		}
	}

}

/* Navbar */

.nav.pull-right
{
    height: 40px;
}

.user-search
{
    margin-top: 4px;
}

#user-search-button
{
    margin-top: 0px;
    height: 30px;
}

li.nav-user-search
{
    height: 40px;
}