#logo{
	height: 40px;
	width: 180px;
	position: fixed;
	top: -2px;
}

#header{
	background: #008800;
	.header-tab
	{
		color: white;
		&:visited
		{
			color: white;
		}
	}
	.dropdown-toggle
	{
		background: #008800;
	}
}

/* Navbar */

.nav.pull-right
{
    height: 40px;
}

.user-search
{
    margin-top: 4px;
}

#user-search-button
{
    margin-top: 0px;
    height: 30px;
}

li.nav-user-search
{
    height: 40px;
}