//HOME PAGE CSS--Without Login

.container
{	
	position: relative;
	display: block;
	width:auto;
  
  .span8
  {
    margin-top: 10px;
  }
}

.i-main-container
{
	
	border-style:solid;
	border-color:blue;
	background: url("background-image.png") no-repeat center center;
	height: 100%;
	background-size: cover;
	
	text-align:center;
	font-family:'Quando';
	background-color: transparent;
	display:block;
	height: 550px;
	
	h2
	{
		color: black;
	}
	
	h4
	{
		color: black;
	}
}

.hero-unit {
  position: absolute;
  background-color: #ffffff;
  width: 700px;
  z-index: 15;
  padding: 0;
  margin-top: 50px;
  margin-left: -350px;
  left: 50%;
  text-align: center;
  font-size: 15px;
  color: #000000;
  letter-spacing: 1px;
  height: 220px;
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
	opacity: 0.8;
	filter:alpha(opacity=20);
	
	h2 {
	  margin-top: 16px;
	  margin-bottom: 0;
		font-size: 36px;
		height: 54px;
	}
	p {
		height: 30px;
	}
	a {
		color: blue;
		&:hover {
			color: blue;
			text-decoration: none;
		}
		&:visited {
			color: blue;
		}
	}
}

#newest-postings {
  position: absolute;
  margin: 300px auto 0 -498px;
  left: 55%;
  z-index: 12;
}

#why-offtrafik {
	background: white;
	width: 100%;
}

#headlines
{
	border-style: solid;
	border-color:red;
	
	margin:auto;
	width:90%;
	text-align:center;
	
	
	h3
	{
		display:block;
		text-align:left;
	}
	
	h3#second-title
	{
		text-align:right;
		padding-right: 10px;
	}
}

/*#container-left-part
{
	float:left;
	width:49%;
	
	h3
	{
		text-align:left;
	}
	
	
	
	figure
	{
		border-style: double;
		border-color: rgb(52,52,52);
		border-width:6px;
		border-radius:30% 30%;
		height: 400px; 
		width: auto;
		
		overflow:hidden;
	}
	
	img
	{
		margin-bottom: 15px; 
		height: 400px; 
		width: auto;
	}
}
*/
.search-bar
{
	background-color: black;
	opacity:0.8;
	margin: 0 auto auto auto;
	width: 70%;
	
	border-style:solid;
	border-color:gray;
	border-width:2px;
	border-radius:25px;
}

#container-right-part
{
	float: none;
	width:50%;	
	height: auto;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 0 20px 0;
}

#search-boxes
{
	display: block;
	height: 50px;
	
	margin: 10px 10px 20px 10px;
	padding: 3px 5px 3px 5px;
}

#search-button
{
	color: white;
	font-size:16pt;
}

#main-buttons
{
	margin-top: 100px;
}

#home-search {
	display: inline-block;
	.control-group {
		float: left;
		padding: 0px;
	}
	.find_from_home_from_address {
		display: none;
	}
	
	#home-search-button {
		margin-top: 0px;
		height: 38px;
		background: #D35400;
	}
	
	#home-search-input {
		background-color: #e3e3e3;
		border: 0;
		height: 38px;
		margin-right: 20px;
		padding: 4px;
		width: 360px;
	}
}