/* Styles for New Post* postings/new.html.ern */

h3.center
{
	font-size:3em;
	font-family:'Quando';
	margin-top: 10px;
}

#posting
{
	padding-top:5px;
}

#map-container
{
	float:right;
	margin-right:30px;
}

#posting-selection
{
	float:left;
	width:38%;
	margin-left:30px;
	padding:5px;
}

#standad-postings
{
	text-align:center;
}

.control-group 
{
	margin:0;
	padding: 0 50px 0 35px;
	
	&.optional.posting_comments
	{
		border-style:solid;
		border-color:red;
		
		padding-left: 0px;
		padding-right: 20px;
		
		text-align:left;
		
		.optional.control-label
		{
			
		}
	}
}

.place-input
{
	margin-bottom:20px;
	display:block;
}



#frequent-postngs
{
	text-align:center;
}

.control-group.optional
{

}	

.control-label
{
	display:inline;
}

.checkbox
{
	display:inline;
}
