#notifications {
	
	.green {
		color: #27AE60;
	}
	
	.blue {
		color: #2980B9;
	}
	
	.red {
		color: #C0392B;
	}
	
	.orange {
		color: #D35400;
	}
	
	.midnight {
		color: #2C3E50;
	}
	
	.fa {
		margin-right: 10px;
	}
	
	.fa-user {
		font-size: 1.45em;
	}
}