// Place all the styles related to the Postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posting {
	margin-top: 50px;
}

#show-map {
	height: 250px;
	width: 95%;
}

.address-input {
	background-color: #fff;
  padding: 0px 11px 0 13px;
  width: 200px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
	margin-top: 5px;
}

.facebook {
	padding:15px 20px;
/*		margin-top: .75em; */
/*		margin-bottom: 1em;*/
	color: white;
	background:#3b5998;
	font-size: 1.2em;
	text-shadow: 0 -1px 0 rgba(0,0,0, 0.8);

		
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;

	&:hover {
		background: #354f87;
	}

	&:active {
		position: relative;
		top: 1px;	
	}
}

.icon-facebook {
	vertical-align: -1px;
	padding-right: 1em; 
	margin-left: -0.6em;
	color: white;
	}

.twitter {
	padding:15px 20px;
	margin-top: 1em; 
/*		margin-bottom: 1em; */
	color: white;
	background:#4099FF;
	font-size: 1.2em;
	text-shadow: 0 -1px 0 rgba(0,0,0, 0.8);


	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;

	&:hover {
		background: #368FF5;
	}

	&:active {
		position: relative;
		top: 1px;	
	}
}

.icon-twitter {
	vertical-align: -1px;
	padding-right: 1em; 
	margin-left: -0.6em;
	color:white;
}		

#posting-details{
	
	.detail {
		width: 200px;
		text-align: right;
		float: left;
		font-size: 15px;
		font-weight: bold;
		&:visited {
			color: white;
		}
	}
	.answer {
		width: 200px;
		text-align: left;
		margin-left: 20px;
		font-size: 15px;
		&:visited {
			color: white;
		}
	}
}

#posting-find {
	
	.field-part {
		margin-bottom: 5px;
}
	
	.control-label {
		margin-left: 0px;
		width: 70px;
	}
	.controls {		
		width: 140px;
		margin-left: 10px;
		float: left;
	}
}

#show-results {
	margin-top: 20px;
}

#past-postings-button:visited {
	color: white;
}

.posting_title {
	margin-bottom: 10px;
}

.posting_span {
	.control-group {
		margin-bottom: 5px;
	}
}