// Place all the styles related to the Postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posting {
	margin-top: 50px;
}

#map {
	height: 400px;
	width: 400px;
}

.bootstrap-timepicker table td input{
	width: 35px;
}