<p>Merhaba <%= @resource.name %>!</p>

<p>Biri sifrenizi degistirmek icin link istedi. Asagidaki linkten bunu gerceklestirebilirsiniz.</p>

<p><%= link_to 'Sifremi Degistir', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Eger bunu siz istemediyseniz, bu emaili yok sayabilirsiniz.</p>
<p>Sifreniz bu linke basip yeni bir tane olusturana kadar degismeyecektir.</p>