<meta content="text/html" http-equiv="Content-Type"/>
<p><%= "#{t 'posting_mailer.new_one_time_posting_given.dear'}" @owner.name %>,</p>

<p><%= "#{t 'posting_mailer.new_one_time_posting_given.thanks'}"%></p>

<p><%= @to_from "#{t 'posting_mailer.new_one_time_posting_given.post_succes_sentence'}"%></p>

<p>İlanina cevap veren birilerini bulamaz isen, <a href="mailto:leri@offtrafik.com">bize</a> yaz, elimizden geleni yapalim.</p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>