<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @owner.name %>,</p>

<p>Teşekkürler!</p>

<p><%= @to_from %> yonunde yapicaginiz ilan basariyla kaydedildi.</p>

<p>Ilanina cevap veren birilerini bulamaz isen, <a href="mailto:leri@offtrafik.com">bize</a> yaz, elimizden geleni yapalim.</p>

<p>Offtrafik</p>

<p><%= image_tag "offtrafik-no-background-logo.png", width: "150px" %></p>