<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @owner.name %>,</p>

<p>Teşekkürler!</p>

<p><%= @to_from %> yonunde yapicaginiz ilan basariyla kaydedildi.</p>

<p>
Yolculuğunu paylaşarak ya trafikten bir araç eksilttin ya da birini toplu taşımadan kurtardın. Senin gibi 
düşünüp doğru tercihler yapanların arttığı bir gelecek hayal ediyoruz. Böylelikle hem çevreye verdiğimiz 
zararı azaltacak; hem de yakıtı, araçları ve yolları daha zekice kullanıyor olacağız.
</p>

<p>
Biz bu hedefimizle gurur duyuyoruz ve sizler sayesinde başaracağız. Daha çevreci ve zeki bu ulaşım 
alışkanlığını yaymak için bizi sosyal medyada arkadaşlarına duyurabilirsin.
</p>

<p>Ayrıca, kurduğumuz sistemi geliştirme fikirlerin varsa lütfen <a href="mailto:leri@offtrafik.com">bize</a> yaz. Ilanina cevap veren birilerini bulamaz isen, <a href="mailto:leri@offtrafik.com">bize</a> yaz, elimizden geleni yapalim.</p>

<p>Sevgilerle,</p>
<p>Offtrafik</p>

<p><%= image_tag "offtrafik-no-background-logo.png" %></p>