<meta content="text/html" http-equiv="Content-Type"/>
<p><%= "#{@owner.name}," %></p>

<p><%= "#{@posting.formatted_date}" %> tarihinde yapacagin yolculuk icin yeni talepler var. <%= link_to 'Ilana', posting_url(@posting) %> giderek cevap verin.</p>