<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @owner.name %>,</p>

<p><%= @responder.name %> seninle <%= link_to "#{@to_from}", posting_url(@posting) %> yolculuğunu paylaşmak istiyor.</p>

<p>Linke tıklayıp ona cevap verebilir, daha keyifli ve çevreci bir yolculuk yapabilirsiniz.</p>

<p>Offtrafik</p>

<p><%= image_tag "offtrafik-no-background-logo.png" %></p>