%meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/

%p== #{@responder.name},

%p== Malesef #{@posting.formatted_date} tarihindeki #{@to_from} ilani icin yer doldu. Baska bir ilanda gorusmek uzere.

%p== #{@owner.name}