<meta content="text/html" http-equiv="Content-Type"/>
<p>
  <%= "#{@responder.name}," %>
</p>
<p>
  Malesef <% "#{@posting.formatted_date} tarihindeki #{@to_from}" %> ilani icin yer doldu. Baska bir ilanda gorusmek uzere. 
</p>
<p>
  <%= "#{@owner.name}" %>
</p>
