%footer.footer
  %nav
    %ul
      %li= link_to "Neden?", why_path # why
      %li= link_to "Hakkımızda", about_path # about
      %li= link_to "Bize Ulaşın", contact_path, style: "margin-right: 20px"
      
/ %li= link_to "Yardım", '#' # help_path is the original link here