%footer.footer
  %nav
    %ul
      %li= link_to "Neden?", why_path # why
      %li= link_to "Hakkımızda", about_path # about
      %li= link_to "Bize Ulaşın", contact_path, style: "margin-right: 20px"
      
/ %li= link_to "Yardım", '#' # help_path is the original link here
<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=2IQ7ahhGhnt9tNMbqxSW0CUjCO7IpPRClsZ2h3u3w8a5JbXf5vsb71"></script></span>