<footer class="footer">
  <nav>
    <div class="span5">
      <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=2IQ7ahhGhnt9tNMbqxSW0CUjCO7IpPRClsZ2h3u3w8a5JbXf5vsb71"></script></span>
    </div>
    <div class="span6">
      <div class="fb-like" data-colorscheme = "light" data-href = "http://facebook.com/offtrafik" data-show-count = "true" data-action = "like" data-width = "250px">
      </div>
    </div>
    <div class="span5">
      <ul>
        <li>
          <%= link_to "Neden?", why_path # why %>
        </li>
        <li>
          <%= link_to "Hakkımızda", about_path # about %>
        </li>
        <li>
          <%= link_to "Bize Ulaşın", contact_path, style: "margin-right: 20px" %>
        </li>
      </ul>
    </div>
  </nav>
</footer>