%footer.footer
  %nav
    %ul
      %li= link_to "Hakkımızda", about_path, style: "color: white" # about
      %li= link_to "Bize Ulaşın", contact_path      
      
/ %li= link_to "Yardım", '#' # help_path is the original link here